@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

.container,
.container-fluid {
  /* min-height: 75vh; */
  margin-top: 80 !important;
  min-height: 100vh;

}

.pt-70 {
  padding-top: 80px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h-80 {
  height: 80vh;
}

.h-80 {
  height: 80vh;
}

.container-fluid {
  min-height: 100vh;
}

#navbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

/* Navbar */
.search-field {
  border: 1.5px solid #f5f5f6;
  background-color: #f5f5f6;
  resize: none;
  padding: 5px 16px;
  border-radius: 6px;
  font-size: 0.9rem;
  outline: none;
}

.search-field button,
.search-field input {
  outline: none;
  border: none;
  background-color: #f5f5f6;
}

/* Card */

.card-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #282c3f;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
}

.card-text {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}

.btn-add-cart {
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: #282c3f;
  background-color: #fff;
}

/* FORM AUTH */
.form-auth input {
  outline: none;
  border: none;
  margin-left: 8px;
}

.form-auth .auth-input {
  padding: 5px 0px;
  border-bottom: solid 1.5px #4b4b4b;
}

.btn-login-form {
  background-image: linear-gradient(to right,
      #0072ff 0%,
      #00c3ff 51%,
      #0072ff 100%);
}

.btn-login-form,
.btn-logout {
  margin-top: 40px;
  padding: 8px 22px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 0.9rem;
  font-weight: 500;
  background-size: 200% auto;
  color: white;
  box-shadow: 1 2 20px rgb(195, 195, 195);
  border-radius: 3px;
  display: block;
  border: none;
}

.btn-login-form:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-register-form {
  background-image: linear-gradient(to right,
      #ee0979 0%,
      #ff6a00 51%,
      #ee0979 100%);
}

.btn-logout {
  background-image: linear-gradient(to right,
      #02aab0 0%,
      #00cdac 51%,
      #02aab0 100%);
}

.btn-add-tocart {
  text-decoration: none;
  display: inline-block;
  margin-top: 40px;
  color: white;
  font-weight: 500;
  background-color: #ee0979;
  padding: 8px 30px;
  border-radius: 4px;
}

.btn-add-tocart:hover,
.btn-add-tocart:focus {
  outline: none;
  text-decoration: none;
  color: white;
}

.back-btn,
.btn-ordr {
  color: #282c3f;
  text-decoration: none;
  font-weight: 500;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #ff6a00;
  border-radius: 20px;
  font-size: 0.9rem;
  padding: 5px 18px;
  background-color: #fff;
}

.btn-ordr {
  border: solid 2px #02aab0;
}

.h-box {
  height: 300px;
}

/* Cart */
.cart-qty-btn {
  padding: 0px 8px;
  border: none;
  border-radius: 3px;
  background-color: #ee2888;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

.cart-del-btn {
  display: inline-block;
  padding: 5px 16px;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #e74c3c;
}

.cart-ordr-btn,
.login-btn {
  padding: 8px 18px;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  background-color: #ff6a00;
  text-decoration: none;
  margin-bottom: 20px;
}

.login-btn:hover,
.login-btn:focus {
  color: white;
}

.note-text {
  font-size: 0.9rem;
  color: #444444;
  font-weight: 500;
}

/* Footer */
.footer {
  max-height: 10vh;
}

.multi-steps>li.is-active~li:before,
.multi-steps>li.is-active:before {
  content: counter(stepNum);
  font-family: inherit;
  font-weight: 700;
}

.multi-steps>li.is-active~li:after,
.multi-steps>li.is-active:after {
  background-color: #ededed;
}

.multi-steps {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.multi-steps>li {
  counter-increment: stepNum;
  text-align: center;
  display: table-cell;
  position: relative;
  color: #ff6a00;
}

.multi-steps>li:before {
  content: "";
  content: "✓";
  content: "𐀃";
  content: "𐀄";
  content: "✓";
  display: block;
  margin: 0 auto 4px;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: #ff6a00;
  border-radius: 50%;
}

.multi-steps>li:after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #ff6a00;
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: -1;
}

.multi-steps>li:last-child:after {
  display: none;
}

.multi-steps>li.is-active:before {
  background-color: #fff;
  border-color: #ff6a00;
}

.multi-steps>li.is-active~li {
  color: #808080;
}

.multi-steps>li.is-active~li:before {
  background-color: #ededed;
  border-color: #ededed;
}

#ad-nav {
  height: auto !important;
}

.admin-nav {
  background-color: #e22242;
}

.admin-nav ul li a {
  text-decoration: none;
  color: white;
}

.custom-select {
  padding: 5px 10px;
  border: 2px solid #808080;
  border-radius: 4px;
  border: none;
  border-radius: 2pt;
  box-shadow: 0 0 0 1pt grey;
  outline: none;
  transition: 0.1s;
  cursor: pointer;
}

.custom-select:focus {
  /* outline: 2px solid #e65100bb; */
  box-shadow: 0 0 3pt 2pt #e65100;
}

.box {
  margin-top: 10vh;
  min-height: 85vh;
}

.form-control:focus,
.form-select:focus {
  border: 1px solid #e65100 !important;
  box-shadow: 0 0 3pt 2pt #e651002c !important;
}

.manage-order-section {
  font-size: 0.9rem;
}

.table-image {
  width: 100px;
}

.btn-del {
  display: inline-block;
  padding: 5px 16px;
  border: none;
  margin: 16px 0;
  border-radius: 3px;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #e61300;
}

.btn-del:focus {
  border: 1px solid #ff1500;
  box-shadow: 0 0 3pt 2pt #ff15008d !important;
}

.btn-edit {
  display: inline-block;
  padding: 5px 16px;
  border: none;
  margin: 16px 0;
  border-radius: 3px;
  color: #282c3f;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #ffd000;
}

.recharts-wrapper {
  margin-left: auto;
  margin-right: auto;
}